---
import Card from "../../Components/Card.astro"
import Nav from "../../Components/Nav.astro"
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Notaría Finalteri</title>
	</head>
	<body style="background-color:rgb(52, 50, 50); color:wheat;">

<Nav/>
	
		<h1>Notaría Finalteri</h1>
		<Card title="primer titulo" text="mi primer texto" />
		<Card title="segundo titulo" text="mi segundo texto" />
		<Card title="tercero titulo" text="mi tercer texto" />
	</body>
</html>

ƒ
